@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$theme-colors: (
  "blue": #0134ad,
  "indigo": #4407a0,
  "purple": #6807a0,
  "pink": #a00775,
  "red": #a00707,
  "orange": #a04907,
  "yellow": #a0a007,
  "green": #07a007,
  "teal": #079da0,
  "cyan": #079da0,
  "white": #fff,
  "gray": #6c757d,
  "gray-dark": #343a40,
  "primary": #0786a0,
  "secondary": #ef8641,
  "success": #aebe37,
  "info": #0168b7,
  "warning": #ecd816,
  "danger": #be1a18,
  "light": #f8f9fa,
  "dark": #343a40,
  "light-primary": #b4dae2,
  "dark-primary": #055e70,
  "light-secondary": #fadcc8,
  "dark-secondary": #a76234
);

$card-border-color: rgba(#000, 0.25);

@import "node_modules/bootstrap/scss/bootstrap";

.card {
  margin-bottom: 1.5em;
}

.card-header {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
}

.card-body {
  margin-top: 0.2em;
  padding-top: 0.5em;
}

.intro-header {
  background-color: #cb773f;
  color: #fff;
}

.lesson-header {
  background-color: #055e70;
  color: #fff;
}

.nav-item {
  font-weight: 200;
}

.tab-content {
  margin-top: 1em;
}

.nav-link {
  padding: 0.3rem 0.75rem;
  color: #055e70;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  //   background-color: #b4dae2;
  //   color: white;
  box-shadow: 2px 0px 2px rgb(179, 179, 179);
  font-weight: bold;
}

.youtube-container-right {
  max-width: 448px;
  max-height: 242px;
  float: right;
  margin: 0px 0px 0px 1.5em;
}

.youtube-container-left {
  max-width: 448px;
  max-height: 242px;
  float: left;
  margin: 0px 1.5em 0px 0px;
}
